@{
    ViewBag.Title = "Inicio";
}

<div class="col-lg-12 col-md-12">
    
    <div class="small-box bg-green">
        <div class="inner">
            <h3>CLIENTES</h3>
         </div>
        <div class="icon">
            <i class="fa fa-user-circle"></i>
        </div>
        <a h href="@Url.Action("Create", "Clientes")" class="small-box-footer">
        <i class="fa fa-user-circle"></i>
        </a>
    </div>


    <div class="small-box bg-green">
        <div class="inner">
            <h3>VISITANTES</h3>
        </div>
        <div class="icon">
            <i class="fa fa-users"></i>
        </div>
        <a href="@Url.Action("Create", "Visitantes")" class="small-box-footer">
           <i class="fa fa-users"></i>
        </a>
    </div>

    <div class="small-box bg-green">
        <div class="inner">
            <h3>PRODUCTOS</h3>
        </div>
        <div class="icon">
            <i class="fa fa-box-open"></i>
        </div>
        <a href="@Url.Action("Create", "Productos")" class="small-box-footer">
         <i class="fa fa-box-open"></i>
        </a>
    </div>
</div>